
<h3 class=""><span>&emsp;投稿者&emsp;</span></h3>
<% if @user.id == current_user.id %>
【マイページ】
<% end %>

<div class="container">
<div class="row">
<div class="col-sm-12">

<div class="col-sm-6">


<b>登録情報</b>
<br></br>

<table class="table table-bordered table-condensed" >
        <tbody>
          <tr class="row">
            <td class="colored col-sm-3">ニックネーム</td>
            <td class="col-sm-9"><%= @user.name %></td>
          </tr>
          <tr class="row">
<% if @user.id == current_user.id %>

          <tr class="row">
            <td class="colored col-sm-3">ニックネーム変更</td>
            <td class="col-sm-9">
              <%= form_with model:@user, local:true do |f| %>
　　　　　　　<%= f.text_field :name, autofocus: true, id:"inputEmail", placeholder:"新しいニックネーム"%><%= f.submit "変更" %>
　　　　　　　<% end %>
            </td>
          </tr>


          <tr class="row">
            <td class="colored col-sm-3">メールアドレス</td>
            <td class="col-sm-9"><%= @user.email %></td>
          </tr>



          <% end %>
        </tbody>
      </table>


     <% if @user.id == current_user.id %>
             <%= link_to " パスワードを変更する", edit_user_registration_path %>
     <% end %>

<br></br>
いいねした投稿




</div>

<div class="col-sm-6">
<b>投稿一覧</b>
<br></br>
<%= render 'infolists/infolists', infolists: @infolists %>




</div>