<!--<br>-->
<!--<div class="col-sm-3">-->
<!--ジャンル一覧-->
<!--</div>-->

<br>

<div class="col-sm-12">
<div class="row">
新規投稿<br></br>

<table class='table table-condensed table-bordered'>
<thead>

<tr>
<th class="center col-sm-1"></th>
<th class="center col-sm-2">投稿タイトル</th>
<th class="center col-sm-2">投稿者</th>
<th class="center col-sm-7">投稿本文</th>

</tr>
</thead>



<tbody>
<% @infolists.each do |infolist| %>
<tr>

<td>
<%= link_to user_path(infolist.user) do %>
<%= attachment_image_tag infolist, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %>
<% end %>
</td>
<td>『<%= link_to infolist.title, infolist_path(infolist.id) %>』</td>
<td><b><%= link_to infolist.user.name, user_path(infolist.user) %></b>&nbsp;さん</td>
<td><%= infolist.body %></td>
</tr>
<% end %>
</div>
</div>
</tbody>
</table>


人気ランキング<br></br>

<table class='table table-condensed table-bordered'>
<thead>
<tr>
<th class="center col-sm-1"></th>
<th class="center col-sm-2">投稿タイトル</th>
<th class="center col-sm-2">投稿者</th>
<th class="center col-sm-7">投稿本文</th>

</tr>
</thead>

<tbody>
<% @infolists.each do |infolist| %>
<tr>
<td>
<%= link_to user_path(infolist.user) do %>
<%= attachment_image_tag infolist, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %>
<% end %>
</td>
<td>『<%= link_to infolist.title, infolist_path(infolist.id) %>』</td>
<td><b><%= link_to infolist.user.name, user_path(infolist.user) %></b>&nbsp;さん</td>
<td><%= infolist.body %></td>
</tr>
<% end %>
</div>
</div>
</tbody>
</table>


</div>
</div>


</div>
</div>




