<div class="col-sm-6">

<%= attachment_image_tag @infolist, :image, :fill, 400, 400, format: 'jpeg' %>

</div>

<div class="col-sm-6">

<div class="row"> 
<h2>タイトル</h2>
<p><%= @infolist.title %></p>
</div>   
いいね
<div class="row"> 
<h2>本文</h2>
<p><%= @infolist.body %></p>
</div>

<div class="row"> 
<h2>コメント</h2>
<p></p>
</div>   



<%= link_to "編集", edit_infolist_path(@infolist.id) %>
<%= link_to "削除", destroy_infolist_path(@infolist.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>