<header>
<nav class="navbar navbar-default" style="background-color: #ffffff; margin-bottom: 0;">


<div class="container">

<div class="row">
  <h1><%= link_to "KnowledgEasy", root_path, class: "navbar-brand-center box1 margin-bottom" %></h1>
<strong>知識(Knowledge)</strong>を<strong>手軽(Easy)に</strong>投稿しよう！
</div>


<div class="row" id="navbar-header">
  <ul class="nav navbar">
  <% if user_signed_in? %>
   <div class="inline-block_test"><%= link_to ' Home', infolists_path %></div>
   <div class="inline-block_test"><%= link_to ' マイページ', user_path(current_user.id) %></div>
   <div class="inline-block_test"><%= link_to ' Q&A', qa_path %></div>
   <div class="inline-block_test"><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></div>
   <div class="inline-block_test"><%= link_to '新規投稿', "/infolists/new" %></div>
  <% else %>
   <div class="inline-block_test"><%= link_to ' Home', root_path %></div>
   <div class="inline-block_test"><%= link_to ' Q&A', qa_path %></div>
   <!--<li>%= link_to ' About', about_path %></li>-->
   <div class="inline-block_test"><%= link_to ' 新規登録', new_user_registration_path %></div>
   <div class="inline-block_test"><%= link_to ' ログイン', new_user_session_path %></div>
  <% end %>
  </ul>
 </div>

 </nav>
 </header>


